{
	"presets":[
		["es2015", { "modules": false }],
		"react",
		"flow"
	],
	"plugins": [
		"transform-class-properties",
		"transform-object-rest-spread",
		"react-hot-loader/babel",
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
	],
	"env": {
		"test": {
			"plugins": ["transform-es2015-modules-commonjs"]
		}
	}
}
