.RepaymentContainer {
  .RepaymentForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    .FormTitle {
      color: $primary-color;
      margin: 50px 0;
    }

    .ButtonWrapper {
      flex-basis: 100%;
      text-align: center;
      margin: 20px 0 50px;
    }
  }

  form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 950px;

    input {
      width: 230px;
    }
    .ReactSelect {
      width: 250px;
    }

    .FormField {
      margin-bottom: 15px;
    }

    .FieldBlock {
      flex-basis: 100%;
    }

    .FieldLabel {
      padding: 10px 0;
      min-width: 200px;
    }
  }

  .ImageUpload {
    display: flex;
    flex-direction: column;

    .ErrMsg {
      text-align: right;
      width: 100%;
    }

    .ImageControl {
      display: inline-block;
      position: relative;
    }

    img {
      max-width: 155px;
      max-height: 90px;
    }

    .FieldNote {
      width: 200px;
      font-size: 12px;
    }

    .FileInput {
      background-image: url('../../assets/images/add-btn.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 160px;
      height: 90px;
      font-size: 0;
      position: absolute;
      outline: none;

      &.Loaded {
        background-image: none !important;
      }

      &::-webkit-file-upload-button {
        visibility: hidden;
      }
    }
  }
  @media only screen and (min-width: 670px) and (max-width: 960px) {
    form {
      max-width: 550px;
    }
    .FormField {
      display: flex;
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 669px) {
    form {
      max-width: 300px;
    }
    .FormField {
      display: flex;
      flex-direction: column;
    }
  }
}
